.clearfix {
	content: "";
	display: table;
	clear: both;
}

.hidden {
	display: none;
	visibility: hidden;
}

.right {
	float: right;
}

left {
	float: left;
}

.pad {
	padding: 10px;
}

.center {
	margin: 0 auto;
}