// Partials
@import "mixins";
@import "base";
@import "helpers";
@import "fonts";
@import "normalize";
@import "simplegrid";

// Vars
$grey: #556270;
$skyBlue: #21AABD;
$orange: #FF6600;
$eggShell: #F8F9FA;

/* ----------------------------------------------------------------
 *  ￼ General
 * ----------------------------------------------------------------
*/
	html {
		font-size: 16px;
		background-color: #F8F9FA;
		height: 100%;
		font-family: $body;
	}

	body, .container {
		height: 100%;
	}

	img {
		display: block;
	}
	
	.instagram-loading, .twitter-loading, .venues-loading {
		width: 20%;
		font-size: 1.3em;
	}

	.loading {
		background: url('../img/ajax-loader.gif') no-repeat;
		display: inline-block;
		width: 16px;
		height: 11px;
	}

	.output-message, .title {
		text-align: center;
		font-family: $handwriting;
	}

/* ----------------------------------------------------------------
 *  ￼ 	Headings
 * ----------------------------------------------------------------
*/
	h1, h2, h3 {

	}

	h1 {
		font-size: 2em;
	}

/* ----------------------------------------------------------------
 *  ￼ Typography
 * ----------------------------------------------------------------
*/
	p {

	}

/* ----------------------------------------------------------------
 *  ￼ Buttons
 * ----------------------------------------------------------------
*/
	

/* ----------------------------------------------------------------
 *  ￼ Links
 * ----------------------------------------------------------------
*/
	a {
		
	}

	a:hover {

	}

/* ----------------------------------------------------------------
 *  ￼ Header
 * ----------------------------------------------------------------
*/
	.header-wrapper {
		background-color: white;
		border-bottom: 1px solid #ddd;
	}

	.logo {
		font-family: $handwriting;
		text-align: center;
		font-size: 1.7em;
		color: $orange;
		display: block;
		text-decoration: none;
	}

/* ----------------------------------------------------------------
 *  ￼ Main
 * ----------------------------------------------------------------
*/
	.intro {
		text-align: center;
		font-family: $handwriting;
	}

/* ----------------------------------------------------------------
 *  ￼ Search
 * ----------------------------------------------------------------
*/
	.search-area {
		width: 50%;
	}

	.search-input {
		width: 100%;
		height: 60px;
		border: 1px solid #ddd;
		margin: 20px 0;
		padding: 5px;

		&:focus {
			outline: none;
		}
	}

/* ----------------------------------------------------------------
 *  ￼ Instagrams
 * ----------------------------------------------------------------
*/
	.instagram {
		background-color: white;
		border: 1px solid #ddd;
	}

	.tag {
		display: inline-block;
	}

	.item {
		width: 33.33%;
	}

/* ----------------------------------------------------------------
 *  ￼ Tweets
 * ----------------------------------------------------------------
*/
	.twitter-wrap.active {
		background-color: $skyBlue;
	}
	
	.twitter-title {
		color: white;
	}

	.tweet {
		color: $eggShell;
		min-height: 150px;
	}

/* ----------------------------------------------------------------
 *  ￼ Venues
 * ----------------------------------------------------------------
*/
	.venues-area {
		height: 100%;
		max-height: 650px;
		padding: 20px 0;
	}

	#map-canvas {
		height: 100%;
	}
/* ----------------------------------------------------------------
 *  ￼ Footer
 * ----------------------------------------------------------------
*/
	