// Partials
@import "mixins";
@import "base";
@import "helpers";
@import "fonts";
@import "normalize";
@import "simplegrid";
// Vars

/* ----------------------------------------------------------------
 *  ￼ Basic
 * ----------------------------------------------------------------
*/
	html {
		font-size: 16px;
		background-color: #F8F9FA;
		height: 100%;
	}

	body {
		height: 100%;
	}

/* ----------------------------------------------------------------
 *  ￼ 	Headings
 * ----------------------------------------------------------------
*/
	h1, h2, h3 {

	}

	h1 {
		font-size: 2em;
	}

/* ----------------------------------------------------------------
 *  ￼ Typography
 * ----------------------------------------------------------------
*/
	p {

	}

/* ----------------------------------------------------------------
 *  ￼ Buttons
 * ----------------------------------------------------------------
*/
	

/* ----------------------------------------------------------------
 *  ￼ Links
 * ----------------------------------------------------------------
*/
	a {
		
	}

	a:hover {

	}
/* ----------------------------------------------------------------
 *  ￼ Header
 * ----------------------------------------------------------------
*/
	.header-wrapper {
		background-color: white;
		border-bottom: 1px solid #ddd;
	}

/* ----------------------------------------------------------------
 *  ￼ Nav
 * ----------------------------------------------------------------
*/

/* ----------------------------------------------------------------
 *  ￼ Search
 * ----------------------------------------------------------------
*/
	.search {
		width: 50%;
	}
/* ----------------------------------------------------------------
 *  ￼ Footer
 * ----------------------------------------------------------------
*/
	